---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import ValuePillars from '../components/ValuePillars.astro';
import Delivery from '../components/Delivery.astro';
import WhyEmpower from '../components/WhyEmpower.astro';
import Partners from '../components/Partners.astro';
import Footer from '../components/Footer.astro';
---

<Layout ogImage="/images/pages/home/og.png">
  <Navbar />
  <main>
    <Hero />
    <About />
    <ValuePillars />
    <Delivery />
    <WhyEmpower />
    <Partners />
  </main>
  <Footer />
</Layout>
